<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".exe" />
            <mimeMap fileExtension="." mimeType="application/ovtet-stream" />
			<mimeMap fileExtension=".config" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".001" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".002" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".003" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".004" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".005" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".006" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".007" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".008" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".009" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".010" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".011" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".012" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".013" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".014" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".015" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".016" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".017" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".018" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".019" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".020" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".021" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".022" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".023" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".024" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".025" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".026" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".027" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".028" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".029" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".030" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".031" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".032" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".033" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".034" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".035" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".036" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".037" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".038" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".039" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".040" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".041" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".042" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".043" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".044" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".045" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".046" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".047" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".048" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".049" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".050" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".051" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".052" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".053" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".054" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".055" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".056" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".057" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".058" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".059" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".060" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".061" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".062" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".063" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".064" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".065" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".066" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".067" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".068" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".069" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".070" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".071" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".072" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".073" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".074" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".075" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".076" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".077" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".078" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".079" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".exe" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
