image http://81.70.22.238:8088/official/loop0.png http://81.70.22.238:8088/official/news0/news0.html
image http://81.70.22.238:8088/official/loop1.png http://81.70.22.238:8088/official/news0/news0.html
image http://81.70.22.238:8088/official/loop2.png http://81.70.22.238:8088/official/news0/news0.html
text 活动1-内测首发！删档测试今日正式开始 http://81.70.22.238:8088/official/news0/news0.html
text 活动2-有奖活动|除魔委托板-新任务追加 http://81.70.22.238:8088/official/news0/news0.html
text 活动3-"天上金丹"永久增强人物属性|获取三颗仙丹 http://81.70.22.238:8088/official/news0/news0.html
text 活动4-置顶-官网论坛开放注册使用 http://81.70.22.238:8088/official/news0/news0.html
text 活动5-除魔互助|专区特别任务-前往网页速览任务流程 http://81.70.22.238:8088/official/news0/news0.html
text 活动6-长安城庆典开启|参与庆典抽PS5 http://81.70.22.238:8088/official/news0/news0.html
text 活动7-[更新快报]新玩法"水火之争" http://81.70.22.238:8088/official/news0/news0.html
text 活动8-神珍品质"三尖两刃刀"加入夺宝掉落 http://81.70.22.238:8088/official/news0/news0.html
text 活动9-商城追加"龙光倍力丸"，快来看公测重要内容一览 http://81.70.22.238:8088/official/news0/news0.html